VITE_APP_NAME=PulseChat

VITE_AUTH_API_URL=http://api.localhost
VITE_CHAT_API_URL=http://api.localhost

VITE_MQTT_URL=ws://localhost:8083/mqtt
VITE_MQTT_CLIENT_PREFIX=pulsechat-web
VITE_MQTT_TOPIC_PREFIX=chat/rooms
